 <footer class="text-center text-lg-start text-white"
            style="background-color: #1c2331">
        <section class="d-flex justify-content-between p-4"
                 style="background-color: #6351ce">
            <div class="me-5">
                <span>Get connected with us on social networks:</span>
            </div>
            <div>
                <a href="https://www.facebook.com/Daewoo.Official/?fref=ts" target="_blank" class="text-white me-4 text-decoration-none">
                    <i class="bi bi-facebook social-icon"></i>
                </a>
                <a href="https://twitter.com/daewooexpress" target="_blank" class="text-white me-4 text-decoration-none">
                    <i class="bi bi-twitter social-icon"></i>
                </a>
                <a href="https://www.daewoo.com.pk/" target="_blank" class="text-white me-4 text-decoration-none">
                    <i class="bi bi-google social-icon"></i>
                </a>
                <a href="https://www.instagram.com/daewoo.express/?hl=en" target="_blank" class="text-white me-4 text-decoration-none">
                    <i class="bi bi-instagram social-icon"></i>
                </a>
                <a href="https://www.linkedin.com/company/daewoo-pakistan-express-bus-service/" target="_blank" class="text-white me-4 text-decoration-none">
                    <i class="bi bi-linkedin social-icon"></i>
                </a>
            </div>
        </section>
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Daewoo Express</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            Daewoo Express is the first and the biggest foreign investment Company with an advanced
                            and organized system that provide transportation and logistics services in Pakistan.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Services</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a asp-controller="Home" asp-action="LahoreFeederRoute" class="text-decoration-none text-white">Lahore Feeder Route</a>
                        </p>
                        <p>
                            <a href="https://www.destinations.com.pk/" target="_blank" class="text-decoration-none text-white">Travelling Services</a>
                        </p>
                        <p>
                            <a asp-controller="Home" asp-action="MultanMetroBus" class="text-decoration-none text-white">Multan Metro Bus</a>
                        </p>
                        <p>
                            <a asp-controller="Home" asp-action="Workshop" class="text-decoration-none text-white">Workshop</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="text-uppercase fw-bold">Get Daewoo App</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            <a href="https://appgallery.huawei.com/#/app/C101322589" target="_blank" class="text-decoration-none text-white">App Gallery</a>
                        </p>
                        <p>
                            <a href="https://appsforwindowspc.com/download-daewoo-express-mobile-for-pc-windows/" target="_blank" class="text-decoration-none text-white">Windows</a>
                        </p>
                        <p>
                            <a href="https://play.google.com/store/apps/details?id=com.app.daewoo.miles&hl=en" target="_blank" class="text-decoration-none text-white">Android</a>
                        </p>
                        <p>
                            <a href="https://apps.apple.com/us/app/daewoo-express/id1413159484?ls=1" target="_blank" class="text-decoration-none text-white">IOS</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="bi bi-geo-alt-fill"></i>231-A Ferozepur Road Lahore</p>
                        <p><i class="bi bi-envelope-fill"></i><a class="text-decoration-none" style="color:white" href="mailto:#" target="_blank">info@daewoo.com.pk</a></p>
                        <p><i class="bi bi-telephone-fill"></i><a class="text-decoration-none" style="color:white" href="callto:#" target="_blank">042-111-007-008</a> </p>
                        <p><i class="bi bi-phone-fill"></i><a class="text-decoration-none" style="color:white" href="callto:#" target="_blank">0304-111-7-008</a></p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-3"
             style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright: Daewoo Express | Developed By DANYAL
        </div>
    </footer>