@using Daewoo_Web_Application.Models;
@using Daewoo_Web_Application.View_Components;
@model PurchaseTicket;


<div class="container scheduleContainer">
    <form asp-controller="PurchaseTicket" asp-action="PurchaseTicket" method="post">
        <div class="row p-2" style="text-align:center">
            <div class="col-md-6 col-lg-3 col_item">
                <label class="p-2" asp-for=Departure><b>Departure City</b></label>
                <select class="select-item p-3" asp-for=Departure>
                    <option selected disabled value="select departure">--Select Departure--</option>
                    <option>LAHORE THOKAR</option>
                    <option>ISLAMABAD</option>
                    <option>KARACHI</option>
                </select>
                <span class="error" asp-validation-for=Departure></span>
            </div>
            <div class="col-md-6 col-lg-3 col_item">
                <label class="p-2" asp-for=Arrival><b>Arrival City</b></label>
                <select class="select-item p-3" asp-for=Arrival>
                    <option selected disabled value="select arrival">--Select Arrival--</option>
                    <option>SIALKOT</option>
                    <option>MULTAN</option>
                    <option>FAISALABAD</option>
                </select>
                <span class="error" asp-validation-for=Arrival></span>
            </div>
            <div class="col-md-12 col-lg-3 col_item">
                <label class="p-2" asp-for=Date><b>Date</b></label>
                <select class="select-item p-3" asp-for=Date>
                    <option selected disabled value="select date">--Select Departure Date--</option>
                    @{
                        var date = DateTime.Today;
                    }
                    <option>@date.ToString("ddd, dd MMM yyyy")</option>
                    <option>@date.AddDays(1).ToString("ddd, dd MMM yyyy")</option>
                    <option>@date.AddDays(2).ToString("ddd, dd MMM yyyy")</option>
                </select>
                <span class="error" asp-validation-for=Date></span>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-3">
                <input class="p-2 btn-item" type="submit" value="GET SCHEDULE" />
            </div>
        </div>
    </form>
</div>
<div class="row mb-3" style="color:white;">
    <a class="fs-5 p-3 btn-item btn btn-primary" asp-controller="PurchaseTicket" asp-action="Bookings">MY BOOKINGS</a>
</div>

