@section Styles{
<link rel="stylesheet" href="~/css/Bookings.css" />
}

@{
    ViewData["Title"] = "Bookings";
}
<div class="d-flex justify-content-around">
    <div class="bookingBody container">
        <div class="row mt-2">
           <img src="https://upload.wikimedia.org/wikipedia/en/c/ce/Daewoo_Express_Pakistan_Logo.png" alt="Daewoo Logo" />
        </div>
       <div class="row mt-3">
            <div class="col-md-12 col-lg-6 col-xl-6">
                DANYAL
            </div>
        </div>

        </div>
    </div>

</div>

