@using Daewoo_Web_Application.Models;
@*@using Daewoo_Web_Application.View_Components;*@

@*@model Daewoo_Web_Application.Models.PurchaseTicket; //making view stronglt typed(i.e. defining which type of data would came from this view)*@
@model Daewoo_Web_Application.Models.ScheduleDetails;

@section Styles{
<link rel="stylesheet" href="~/css/PurchaseTicket.css" />
}

@section Scripts{
<script>
    function ScheduleDetailsForm(id) {
        document.getElementById('form_' + id).submit();
    }
</script>
}

@{
    ViewData["Title"] = "Purchase Ticket";
}


<div class="container">
    <div class="row mt-5 mb-5">
        <h1 style="text-align:center"> PURCHASE TICKETS</h1>
        <hr class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 100px; background: linear-gradient(to right, #3a4ed5 50%, #030a6e 120%); height: 3px" />
    </div>

    <div class="row mb-3">
        <partial name="_purchaseTicketForm" />
    </div>

    @{
        var allSchedules = (List<Daewoo_Web_Application.Models.BookingSchedule>)ViewData["AllSchedules"];
    }
    @await Component.InvokeAsync("BookingSchedules", allSchedules) <!--View Component is used-->

</div>
