@using Daewoo_Web_Application.Models;
@using Daewoo_Web_Application.View_Components;
@model PurchaseTicket;                                           //making view stronglt typed(i.e. defining which type of data would came from this view)*@

@section Styles{
<link rel="stylesheet" href="~/css/PurchaseTicket.css" />
}

@{
    ViewData["Title"] = "Purchase Ticket";
}



<div class="container">
    <div class="row mt-5 mb-5">
        <h1 style="text-align:center"> PURCHASE TICKETS</h1>
        <hr class="mb-4 mt-0 d-inline-block mx-auto"
            style="width: 100px; background: linear-gradient(to right, #3a4ed5 50%, #030a6e 120%); height: 3px" />
    </div>
    <div class="row mb-3">
        <div class="container scheduleContainer">
            <form asp-controller="PurchaseTicket" asp-action="PurchaseTicket" method="post">
                <div class="row p-2" style="text-align:center">
                    <div class="col-md-6 col-lg-3 col_item">
                        <label class="p-2" asp-for=Departure><b>Departure City</b></label>
                        <select class="select-item p-3" asp-for=Departure>
                            <option selected disabled value="select departure">--Select Departure--</option>
                            <option>LAHORE THOKAR</option>
                            <option>ISLAMABAD</option>
                        </select>
                        <span class="error" asp-validation-for=Departure></span>
                    </div>
                    <div class="col-md-6 col-lg-3 col_item">
                        <label class="p-2" asp-for=Arrival><b>Arrival City</b></label>
                        <select class="select-item p-3" asp-for=Arrival>
                            <option selected disabled value="select arrival">--Select Arrival--</option>
                            <option>GUJRANWALA</option>
                            <option>MULTAN</option>
                        </select>
                        <span class="error" asp-validation-for=Arrival></span>
                    </div>
                    <div class="col-md-12 col-lg-3 col_item">
                        <label class="p-2" asp-for=Date><b>Date</b></label>
                        <select class="select-item p-3" asp-for=Date>
                            <option selected disabled value="select date">--Select Departure Date--</option>
                            <option>Fri, 27 May 2022</option>
                            <option>Thu, 28 May 2022</option>
                        </select>
                        <span class="error" asp-validation-for=Date></span>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-3">
                        <input class="p-2 btn-item" type="submit" value="GET SCHEDULE" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row mb-3 scheduleDescription">
        <p>
            ROUTE: LAHORE THOKAR - SIALKOT DEPARTURE DATE: FRI, 27 MAY 2022
        </p>
    </div>
    <div class="row mb-3 schedules">
        <div class="d-flex flex-md-row flex-wrap p-3 justify-content-between align-items-center">
            <img src="https://www.globalvillagespace.com/wp-content/uploads/2019/05/chandi-chowk-to-china-pak-china-bus-service-commences-today.jpg" alt="Booking Bus Image" />
            <div class="d-flex flex-md-column flex-wrap">
                <h3 class="me-2">LUXURY</h3>
                <p>Departure 06:00 | Arrival 08:00</p>
                <p>
                    <b>Status: <span class="status p-1">OK</span></b>
                    <b>Seats Left: </b><span class="status p-1">35</span>
                    <b>Total Seats: </b><span class="status p-1">40</span>
                </p>
            </div>
            <div class="flex-md-column">
                <span><b>OK</b></span>
            </div>
            <div class="d-flex flex-md-column flex-wrap align-items-center">
                <span><b>Rs.</b></span>
                <div class="d-flex flex-md-column fs-3 ms-2">
                    <span><b>610</b></span>
                </div>
            </div>
            <div class="flex-md-column">
                <a class="btn btn-primary" asp-controller="PurchaseTicket" asp-action="BookTicket">BOOK NOW</a>
            </div>
        </div>
    </div>
     <div class="row mb-3 schedules">
        <div class="d-flex flex-md-row flex-wrap p-3 justify-content-between align-items-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbGCKThPAWp5aPw7LfweoI0pl-LgOL1BWYJPqYMreLgAEaTovvIhab7SDpbxmFSz9ubGU&usqp=CAU" alt="Booking Bus Image" />
            <div class="d-flex flex-md-column flex-wrap">
                <h3 class="me-2">ECONOMY</h3>
                <p>Departure 08:00 | Arrival 10:00</p>
                <p>
                    <b>Status: <span class="status p-1">OK</span></b>
                    <b>Seats Left: </b><span class="status p-1">23</span>
                    <b>Total Seats: </b><span class="status p-1">40</span>
                </p>
            </div>
            <div class="flex-md-column">
                <span><b>OK</b></span>
            </div>
            <div class="d-flex flex-md-column flex-wrap align-items-center">
                <span><b>Rs.</b></span>
                <div class="d-flex flex-md-column fs-3 ms-2">
                    <span><b>450</b></span>
                </div>
            </div>
            <div class="flex-md-column">
                <a class="btn btn-primary" asp-controller="PurchaseTicket" asp-action="BookTicket">BOOK NOW</a>
            </div>
        </div>
    </div>
     <div class="row mb-3 schedules">
        <div class="d-flex flex-md-row flex-wrap p-3 justify-content-between align-items-center">
            <img src="https://www.globalvillagespace.com/wp-content/uploads/2019/05/chandi-chowk-to-china-pak-china-bus-service-commences-today.jpg" alt="Booking Bus Image" />
            <div class="d-flex flex-md-column flex-wrap">
                <h3 class="me-2">LUXURY</h3>
                <p>Departure 10:00 | Arrival 00:00</p>
                <p>
                    <b>Status: <span class="status p-1">OK</span></b>
                    <b>Seats Left: </b><span class="status p-1">32</span>
                    <b>Total Seats: </b><span class="status p-1">40</span>
                </p>
            </div>
            <div class="flex-md-column">
                <span><b>OK</b></span>
            </div>
            <div class="d-flex flex-md-column flex-wrap align-items-center">
                <span><b>Rs.</b></span>
                <div class="d-flex flex-md-column fs-3 ms-2">
                    <span><b>610</b></span>
                </div>
            </div>
            <div class="flex-md-column">
                <a class="btn btn-primary" asp-controller="PurchaseTicket" asp-action="BookTicket">BOOK NOW</a>
            </div>
        </div>
    </div>
</div>


