@{
    ViewData["Title"] = "About US";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-15 col-md-6">
            <img src="https://www.daewoo.com.pk/Theme/images/about.png" alt="About Us Image" style="width:100%; height:100%"/>
        </div>
        <div class="col-sm-15 col-md-6 mt-5">
            <h3>ABOUT US</h3>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 100px; background: linear-gradient(to right, #3a4ed5 80%, #030a6e 120%); height: 3px" />
            <p>
                Daewoo Express is the first and the biggest foreign investment Company with an advanced and organized transport system in Pakistan.
                It is the only transport company to have a nationwide network with various international trade links. Being a transport service provider
                the company owns a large fleet of buses, Technically Advanced Workshops to maintain the fleet for the safety of the passengers, State of
                the Art Terminals, Training Institutes for Drivers and Mechanical Staff.
            </p>
        </div>
        <div class="row mb-5 mt-1">
            <div class="col-sm-15 col-md">
                <p>
                    Daewoo Express is the first and the biggest foreign investment Company with an advanced and organized transport system in Pakistan.
                    It is the only transport company to have a nationwide network with various international trade links. Being a transport service provider
                    the company owns a large fleet of buses, Technically Advanced Workshops to maintain the fleet for the safety of the passengers, State of
                    the Art Terminals, Training Institutes for Drivers and Mechanical Staff.
                </p>
            </div>
        </div>
    </div>
</div>