@{
    ViewData["Title"] = "Lahore Feeder Route";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-15 col-md-6">
            <img src="https://www.daewoo.com.pk/Theme/images/Lahore-Feeder-Route.jpg" alt="Lahore Feeder Routre Image" style="width:100%; height:100%" />
        </div>
        <div class="col-sm-15 col-md-6 mt-5">
            <h3>Introduction</h3>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 100px; background: linear-gradient(to right, #3a4ed5 80%, #030a6e 120%); height: 3px" />
            <p>
                Lahore Feeder Route is a project of Daewoo Pakistan. The Punjab Mass Transit Authority (PMA) has started 200 new public buses in
                collaboration with Daewoo on feeder routes for the Lahore Metro Bus routes. The feeder bus service will connect the rest of the city
                with the 27-km-corridor of the Metro Bus.
            </p>
            <p>
                The transportation authority has already handed over the possession of Green Town Bus Depot and Lahore Railway Station to
                Daewoo Pakistan Express, the contractor and operator of the feeder buses. The PMA and Daewoo has started the feeder buses project as
                these buses has successfully passed through warranty inspection, vehicle inspection, registration, insurance and installation of
                e-ticketing and GPS tracking equipment.
            </p>
        </div>
        <div class="row mb-5 mt-1">
            <div class="col-sm-15 col-md">
                <p>
                    Initially, these buses would run on 15 feeder routes of the Lahore Metro Bus service, covering 123km. Later, more buses would be
                    inducted in a phased manner once Lahore Orange Line Metro Train becomes operational. The authority has already completed its homework
                    to integrate e-ticketing systems of both the Lahore Metro Bus service and feeder buses.
                </p>
            </div>
            <div class="row mb-5 mt-1">
                <img src="https://www.daewoo.com.pk/Images/feeder-map.jpg" alt="Feeder Route Track" />
            </div>
        </div>
    </div>
</div>