@{
    ViewData["Title"] = "Multan Metro Bus";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-15 col-md-6">
            <img src="https://www.daewoo.com.pk/Theme/Images/MultanMetro.png" alt="Multan Metro Image" style="width:100%; height:100%"/>
        </div>
        <div class="col-sm-15 col-md-6">
            <h3>Multan Metro Bus Service - MMBS - Introduction</h3>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 100px; background: linear-gradient(to right, #3a4ed5 80%, #030a6e 120%); height: 3px" />
            <p>
               <b>Multan</b> is the 3rd largest city in the Province Punjab and is located on National Highway (N-5) leading to Bahawalpur and Muzaffargarh / 
               Dera Ghazi Khan en-route to Karachi. The city lies east of Chenab River, almost in the geographic center of the country, at a distance 
               of about 966 km from Karachi.
            </p>
            <p>The Multan Bus Rapid Transit or Multan Metro bus System is a bus rapid transit (BRT) system under-construction in Multan, Pakistan.
                Multan Metro Bus system has 18.5 KM dedicated track running from Bahauddin Zakria University (BZU) to Chowk Kumharan.
        </div>
        <div class="row mb-5 mt-1">
            <div class="col-sm-15 col-md">
                <p>
                   There is a 12.5 KM elevated track to avoid conflict of Metro bus with other traffic in the congested areas,which runs from the
                   Northern Bypass to BCG Chowk and Veharhi Chowk to General Bus Stand. The System has 21 stations in total while 7 station at grade 
                   and 14 at elevated track.
                </p>
            </div>
        </div>
    </div>
</div>
