@{
    ViewData["Title"] = "Bus Rapid Transit";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-15 col-md-6">
            <img src="https://editorial01.shutterstock.com/preview-440/10743578d/a3aaf8f4/Shutterstock_10743578d.jpg" alt="Bus Rapid Transit Image" style="width:100%; height:100%"/>
        </div>
        <div class="col-sm-15 col-md-6">
            <h3>Peshawar Bus Rapid Transit(BRT)</h3>
            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 100px; background: linear-gradient(to right, #3a4ed5 80%, #030a6e 120%); height: 3px" />
            <p>
               <b> Bus Rapid Transit (BRT)</b> is a high quality high capacity transport system, which provides fast, efficient, reliable and 
               comfortable mode of transport for the travelers. In a BRT system, the buses travel in a dedicated corridor and avoid the congestion on
               the road. BRT also provides improved waiting facilities and supporting infrastructure for passengers such as e-ticketing and real time
               information about bus schedules.
            </p>
            <p>The Peshawar BRT project is a major undertaking not just in the development of the physical infrastructure of the city but as a catalyst
                for urban regeneration and growth. Successful completion of the project will lead to greater economic activity and prosperity as well as
                providing the people, who live, work and visit the city a world-class transport service.
        </div>
        <div class="row mb-5 mt-1">
            <div class="col-sm-15 col-md-12">
                <p>
                   The BRT route will run from Chamkani to Hayatabad, a total distance of 26 kilometers with 31 stations. The existing infrastructure
                   will be improved with footpaths, bicycle lanes and provision at the stations for bicycle stands to make the journey easy for people
                   using bicycles. Each station will be within half a kilometer reach making it convenient for users of the system.
                </p>
                <p>Around 450 buses with capacity of up to 95 people, will be operational on the BRT system and BRT buses will run all day with extra 
                    buses at peak times.To reach your destination the travel time will be shortened, secure, and comfortable you can travel from Chamkani
                    to Gul Market in fifteen minutes and from Hayatabad to Gora Qabristan in 25 minutes. Parking provision at each end of the BRT corridor
                    will be provided to encourage people with cars to use the BRT system.</p>
                    <p>For futher details visit <a href="https://transpeshawar.pk/" target="_blank">Trans Peshaware</a></p>
            </div>
        </div>
    </div>
</div>