@{
    ViewData["Title"] = "Workshop";
}

<div class="mt-5" style="text-align:center">
    <h1>Workshops</h1>
    <hr class="mb-4 mt-0 d-inline-block mx-auto"
        style="width: 100px; background: linear-gradient(to right, #3a4ed5 80%, #030a6e 120%); height: 3px" />
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-15 col-md-6">
            <img src="https://www.daewoo.com.pk/Theme/images/workshops.jpg" alt="Workshop Image" style="width:100%; height:100%" />
        </div>
        <div class="col-sm-15 col-md-6">
            <h3>OBJECTIVE</h3>
            <p>
                "Provide road worthy fleet to operations for the provision of reliable services to commuter"
            </p>
            <h3>DRIVER'S RECRUITING & TRAINING SYSTEM</h3>
            <p>
                We are recruiting our workers (drivers, technician, etc) through a comprehensive testing and observation process.
                During the testing/observation, our experts observed the candidates keenly both practically and theoretically.
                <h3>PRE SELECTION TRAINING</h3>
            <p>
                After the initial selection, candidates are given 15 days practical and theoretical training (on/off the field) for final selection.
                Finally the successful candidates in final test/medical might be the employee of the company.
            </p>
        </div>
        <div class="row mb-5 mt-1">
            <div class="col-sm-15 col-md">
                <h3>MONITORING SYSTEM</h3>
                <p>
                    Through our highly advance techograph system we observed the driver's driving on the routes on every arrival of the bus at its
                    destination. Drivers are bound to drive the buses as per the rules and regulations (i.e. specified speed limit, specified stopovers
                    and etc) of the company. During observation violated drivers are recommended for further refresher course and also warned/penalized
                    as per nature of the violation.
                </p>
                <h3>REFRESHER TRAININGS</h3>
                <p>
                    Through the critical observation on workers through the different modes of checking instruments, management arranging time to time
                    refresher courses to overcome these negligence while execution of duties.
                </p>
                <h3>GENERAL MAINTENANCE</h3>
                <p>
                    General maintenance includes the pre departure and after arrival inspections. Generally two types of work "Pit Inspection & Wash
                    Service" carried out in this maintenance.
                </p>
                <h3>PIT INSPECTION</h3>
                <p>
                    On every arrival of buses pit inspection carried out by the foreman/incharge. During the inspection Engine noise, oil levels, water,
                    brake system, tyres, A/V system and also rectified the defects mentioned on crew comment (C C) paper.
                </p>
                <h3>WASH SERVICE</h3>
                <p>
                    After carrying the pit inspection bus washed and cleaned thoroughly (interior/exterior) and ready for departure.
                </p><h3>PERIODIC & PREVENTIVE MAINTENANCE</h3>
                <p>
                    During this maintenance we give special attention towards the regular replace parts e.g. Engine oil & filters, steering oil & filter,
                    gear oil, brake lining, audio/video system, A/C, radiator coolant and passenger's facility setup etc. Further more on quarterly basis
                    we are carrying docking service of buses. In this service we check engine, chassis, bus interior and exterior body condition etc. We
                    are using genuine parts all the time to ensure the safety and comfort of our valued passenger.
                </p>
            </div>
        </div>
    </div>
</div>


