@using Daewoo_Web_Application.View_Components;
@model ScheduleDetails;

<table>
    <thead>
        <tr>
            <td>Departure</td>
            <td>Arrival</td>
            <td>Departure Date</td>
            <td>Departure Time</td>
            <td>Bus Type</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>LAHORE THOKAR</td>
            <td>FAISALABAD</td>
            <td>Fri, 27 May 2022</td>
            <td> 06:00</td>
            <td>Luxury</td>
        </tr>
    </tbody>
</table>